body
{
  margin: 8px;
}

div
{
    text-align: center;
}
h1
{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
}

button 
{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
}

p
{
    font-size: 35px;
    margin-top: 1em;
    margin-bottom: 1em;
}

button:hover
{
    background-color: green;
}
